body{
    background: linear-gradient(rgb(43, 74, 200),rgb(113, 55, 239));
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#center{
    width: 300px;
    background: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}